body{
    margin: 0;
}
ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    width: 20%;
    height: 100%;
    position: fixed;
    overflow: auto;
    background-color:#f1f1f1;
}
li a{
    display: block;
    text-decoration: none;
    color:#000;
    padding: 8px 16px;
    
}

li a:hover{
    background-color: blue;
    color:white;
}


.navbar{
    background-color: f1f1f1;
    
}